<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Burger</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>burger</title>
  
</head>
  <body>
    {{{ body }}}
  <footer>
    <div class='row mt-5'>
      <div class='col-md-12'>
        <div class='card footer'>
          <div class='card-body footer-body'></div>
            <a href='https://github.com/Zuprocj/burger' class='btn btn-primary mr-2' target='_blank'>GitHub Repo</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
